* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.curser{
width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
z-index: 99999;
position: absolute;
transition: all ease 0.1s;
}
.main {
    width: 100%;
    background-color: black;
    position: relative;
}

.hero {
    width: 100%;
    height: 100vh;
    background-color: black;
    padding: 20px 40px;
    color: white;
    position: relative;
}
.bounding{
    /* background-color: red; */
    width: fit-content;
    overflow: hidden;
}
.bounding .boundingelm{
    transform:translateY(100%);
    
}
.bounding .boundingelm1{
    transform:translateY(-100%);
    
}

.nav {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 17px;
    
}

.nav a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 600;
}

.heading {
    margin-top: 140px;
}

.heading h1 {
    /* margin-left: 0px; */
    opacity: 0.6;
    line-height: 1;
    font-size: 10vw;
    text-transform: uppercase;
    /* font-family: "General Sans Medium"; */
    font-weight: 600;
}

.heading .sec-h1 {
    margin-left: 170px;
}

.blocktext {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: end;
    /* background: red; */
}

.blocktext h5 {
    text-align: right;
    font-size: 15px;
    text-transform: uppercase;
    /* opacity: 0.9; */
}

.heading2 {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: end;
}

.heading2 h5 {
    text-align: right;
    font-size: 1vw;
    line-height: 2;
    text-transform: uppercase;
}

.herofooter {
    /* padding: 2vh 0; */
    width: 95%;
    position: absolute;
    bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.herofooter .iconset {
    display: flex;
    gap: 5px;
}

.herofooter a {
    font-weight: 600;
    font-size: 1vw;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.herofooter .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #888;
    color: black;
    font-size: 20px;
}

.second-page {
    padding-top: 180px;
    padding-right: 11vw;
    padding-left: 3vw;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: white;
}

.elem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #888;
    padding: 3.5vw 0;
    position: relative;
}

.elem h4 {
    font-weight: 100;
}

.elem h1 {
    font-weight: 600;
    font-size: 7vw;
    opacity: 0.6;
}

.elem-last {
    border-bottom: 1px solid #888;
}

.elem img {
    opacity: 0;
    /* display: none; */
    height: 150%;
    position: absolute;
    z-index: 999;
    object-fit: cover;
}

.about {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    color: white;
    width: 100%;
    height: 100vh;
    background-color: black;
    padding: 15vw 10vw;
    gap: 60px;
    padding-left: 40vw;
}

.about img {
    width: 230px;

}

.text-about {

    width: 27rem;
}

.text-about h5 {
    text-transform: uppercase;
    opacity: 0.6;

}

.text-about p {
    /* white-space: nowrap; */
    font-weight: 500;
    opacity: 1;
    line-height: 1.7;
    margin-bottom: 25px;
}

.text-about a {
    text-decoration: none;
    color: white;
    padding: 7px 22px;
    border: 1px solid white;
    border-radius: 25px;
    transition: all ease 0.7s;
}

.text-about a:hover {
    color: black;
    background-color: white;
}

.about-footer {
    background-color: black;
    color: white;
    padding: 20px 40px;
    /* position: relative; */
}

.about-footer h5 {
    opacity: 0.6;
    margin-bottom: 7px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    padding-top: 140px;
    background-color: black;
    color: white;
}

.footer-left {
    display: flex;
    gap: 20px;
}

.footer-right {
    display: flex;
    gap: 50px;
}

.footer-left h4 {
    font-size: 15px;
    font-weight: 600;
}

.footer-right a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}